.card-grid
  display: grid
  gap: 16px
  margin: 0 auto
  grid-template-columns: repeat(auto-fit, minmax(300px, auto))
  justify-content: center
  max-width: 1300px

.card-item
  width: 100%
  max-width: 400px

.button-container
  gap: 16px
  display: flex
  padding: 16px
  justify-content: center
